*{
    --size: 50px;
}

.first {
    display: grid;
    grid-template-columns: repeat(16, var(--size));
    grid-template-rows: repeat(16, var(--size));
    gap: 1px;
    margin-bottom: 50px;
}

.first .box:nth-child(3n-2) {
    background-color: orange;
}

.first .box:nth-child(3n-1) {
    background-color: rgb(236, 199, 130);
}

.first .box:nth-child(3n) {
    background-color: brown;
}

.second {
    display: grid;
    grid-template-columns: repeat(16, var(--size));
    grid-template-rows: repeat(16, var(--size));
    gap: 1px;
    margin-bottom: 50px;
}

.second .box:nth-child(4n-3) {
    background-color: lightgray;
}

.second .box:nth-child(4n-2) {
    background-color: darkgray;
}

.second .box:nth-child(4n-1) {
    background-color: grey;
}

.second .box:nth-child(4n) {
    background-color: black;
}

.third {
    display: grid;
    grid-template-columns: repeat(16, var(--size));
    grid-template-rows: repeat(16, var(--size));
    gap: 1px;
    margin-bottom: 50px;
}

.third .box:nth-child(7n+1) {
    background-color: red;
}

.third .box:nth-child(7n+2) {
    background-color: orange;
}

.container div:nth-child(32n + 2),
.container div:nth-child(32n + 4),
.container div:nth-child(32n + 6),
.container div:nth-child(32n + 8),
.container div:nth-child(32n + 10),
.container div:nth-child(32n + 12),
.container div:nth-child(32n + 14),
.container div:nth-child(32n + 16) {
    background: #D83E3B80;
}

/* Apply background color to every second div in even rows, starting from the first div */
.container div:nth-child(32n + 17),
.container div:nth-child(32n + 19),
.container div:nth-child(32n + 21),
.container div:nth-child(32n + 23),
.container div:nth-child(32n + 25),
.container div:nth-child(32n + 27),
.container div:nth-child(32n + 29),
.container div:nth-child(32n + 31) {
    background: #D83E3B80;
}

.container div:nth-child(32n + 18),
.container div:nth-child(32n + 20),
.container div:nth-child(32n + 22),
.container div:nth-child(32n + 24),
.container div:nth-child(32n + 26),
.container div:nth-child(32n + 28),
.container div:nth-child(32n + 30),
.container div:nth-child(32n + 32) {
    background: #D83E3B;
}