body {
    background-color: black;
    background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
    font-family: 'Helvetica Neue';
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

p {
    text-transform: capitalize;
}

.info-container {
    border: 3px solid yellow;
    border-radius: 15px;
    width: 600px;
    /* height: 250px; */
    margin: 0 auto;
    padding: 10px;
}

.logo {
    margin: 0 auto;

    img {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

i {
    margin: 15px;
}